#register-page {
  height: 100vh;
  display: grid;
  place-items: center;
}

#register-page > form {
  background-color: white;
  padding: 24px 16px;
  border-radius: 8px;
}

#register-page > form > label,
#register-page > form > input,
#register-page > form > button {
  margin: 8px 0 0 0;
  width: 300px;
  display: block;
}

#register-page > form > input[type="file"],
#register-page > form > button {
  cursor: pointer;
}
